.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contacts{
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

form input{
  display: block;
  margin-bottom: 3px;

}

.contact-container{
  min-height: 90vh;


}